<html>
    <head></head>
    <body>
        <form action="/games/create" method="post">
            Name: <input type="text" name="name" /> <br />
            Year: <input type="text" name="year" /> <br />
            <input type="submit" value="Create Game" /> 
        </form>
    </body>
</html>